{deps_dir, "deps"}.
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", "2.0.1"}},
  {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", "v4.1.0"}},
  {egetter, ".*", {git, "https://github.com/marcelog/egetter.git", "0.17"}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "0.10.1"}}
]}.

{erl_opts, [
  {parse_transform, lager_transform},
  {lager_truncation_size, 163840}
]}.
{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
{xref_warnings, true}.
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.
